.search-bar {
  border: 0;
  border-radius: 2px;
  display: flex;
  font-size: $input-font-size;
  height: 4.6rem;
  position: relative;

  &__select {
    appearance: none;
    background: $color-background-light;
    border: 0;
    border-radius: 0;
    border-right: solid 1px $color-accent;
    display: none;
    padding: 0 2rem;
  }

  &__input {
    border: 0;
    border-bottom: 1px solid #d8d8dd;
    border-radius: 0;
    flex-grow: 1;
    outline: none;
    padding: 0 1rem;
    -webkit-appearance: none;
  }

  &__button {
    background: transparent;
    border: 0;
    color: $color-copy-light;
    font-weight: $buttons-font-weight;
    padding: 0 2rem 0 1rem;
  }
}

.autocomplete-results {
  background: $color-white;
  position: absolute;
  left: 0;
  right: 62px;
  top: 100%;

  &__list {
    border: 1px solid $color-border-medium;
    border-top: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    a {
      padding: 10px;
      display: block;
    }
  }

  &__item--current, &__item:hover {
    a {
      color: $link-color-hover;

      &::after {
        content: "→";
        margin-left: 10px;
      }
    }
  }

  &__item--empty {
    padding: 10px;
  }
}
